.LoginPage {
  height: 812px;
  width: 375px;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
    height: 100%;
  }

  .login-heading {
    width: 300px;
    height: 24px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #3D3D3D;
  }

  .login-subtext {
    /* 안전한 인피 활동을 위해 학교 인증이 필요해요 */
    width: 300px;
    height: 18px;
    margin-bottom: 50px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    color: #3D3D3D;
  }

  .password-input {
    /* 이메일 입력창 */
    width: 290px;
    height: 46px;
    margin-top: 1px;
    /* 상단 여백 */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-top: 80px;
    align-self: flex-start;
  }

  .button-container {
    margin-top: auto;
  }

  .bottom-Button {
    /* 하단 버튼 */
    width: 300px;
    height: 50px;

    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    margin-bottom: 40px;
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }

  .error-message {
    color: red;
    font-size: 0.5em;

    width: 320px;
    height: 14px;

  }

  .email-input {
    /* 이메일 입력창 */
    width: 290px;
    height: 46px;
    margin-top: 1px;
    /* 상단 여백 */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .code-inputs {
    /* 인증번호 입력 */
    display: flex;
    justify-content: center;
    gap: 10px;
    /* 입력 필드 사이의 간격 */
  }

  .code-input {
    width: 35px;
    /* 네모 박스 너비 */
    height: 35px;
    /* 네모 박스 높이 */
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    /* 테두리 */
    border-radius: 5px;
    /* 모서리를 둥글게 */
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resend {
    /* 메일을 못받으셨나요? */
    width: 450px;
    height: 16px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin-left: 160px;
    margin-bottom: 330px;
    color: #8C8C8C;
  }

  .login-subtext1 {
    width: 300px;
    height: 18px;
    margin-bottom: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #3D3D3D;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /*  실행 단계 배경 CSS */
  .progress-bar {
    width: 240px;
    height: 10px;
    margin-top: 90px;
    align-self: flex-start;
    margin-right: 70px;
    background: #D9D9D9;
    border-radius: 50px;
  }

  /* 실행 단계 CSS */
  .progress {
    height: 100%;
    background-color: #ff7096;
    border-radius: 10px;
  }

  .password-input {
    /* 비밀번호 입력창 */
    width: 290px;
    height: 46px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .repassword-input {
    /* 비밀번호 확인창 */
    width: 290px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .error-message,
  .error-message1 {
    color: red;
    font-size: 0.5em;
    margin-left: 20px;
    margin-top: 10px;
    width: 320px;
    height: 14px;
    /* 고정된 높이 설정 */
    visibility: hidden;
    /* 기본적으로 메시지를 숨김 */
  }

  .error-message.visible,
  .error-message1.visible {
    visibility: visible;
    /* 에러가 있을 때만 보이도록 */
  }

  .login4-input {
    /* 닉네임 입력창 */
    width: 295px;
    height: 50px;
    margin-bottom: 15px;
  }

  .check-button {
    /* 중복 확인 버튼 */
    width: 300px;
    height: 50px;
    background: #FF7898;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .gender-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 10px;
  }

  .rectangle,
  .rectangle1 {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    /* 높이 조정 */
    background: #FFFFFF;
    border: 2px solid #DADADA;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 이미지와 텍스트를 위쪽 정렬 */
    align-items: center;
    padding-top: 10px;
    /* 이미지와 텍스트 사이에 패딩 추가 */
  }

  .rectangle.selected {
    background-color: #EAF0FF;
  }

  .rectangle1.selected {
    background-color: #FFF0EF;
  }

  .boy-image {
    width: 170px;
    height: 240px;
    margin-top: -63px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .girl-image {
    width: 80px;
    height: 110px;
    margin-top: -5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .boyplace {
    margin-top: -78px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3D3D3D;

  }

  .girlplace {
    margin-top: 0px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: -5px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3D3D3D;
  }

  .login5-heading {
    width: 300px;
    height: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #3D3D3D;
  }

  /* 단과대 선택 */
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .student-id {
    /* 학번 입력창 */
    width: 290px;
    height: 46px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .select-container1 {
    /* 단과대 선택창 */
    width: 282px;
    height: 50px;
    margin-bottom: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  .select-container2 {
    /* 학과 선택창 */
    width: 282px;
    height: 50px;
    height: 20px;
  }

  .select-department {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .year-month-day-container {
    display: flex;
    gap: 10px;
    margin-bottom: 410px;
  }

  .year-input {
    width: 85px;
    height: 46px;
  }

  .month-input {
    width: 85px;
    height: 46px;
  }

  .day-input {
    width: 85px;
    height: 46px;
  }
}