.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%) ;
  width: 375px;
  height: 100vh;

    .login-heading {
      width: 250px;
      height: 24px;
      margin-top: 50px; /* 상단 여백 */
      margin-bottom: 10px;
      align-self: flex-start; 
      margin-left: 20px;
  
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
  
      display: flex;
      align-items: center;
  
      color: #3D3D3D;
    }
  
    .login-subtext {
      /* 안전한 인피 활동을 위해 학교 인증이 필요해요 */
      width: 300px;
      height: 18px;
      align-self: flex-start; 
      margin-left: 20px;
  
      margin-bottom: 50px;
      align-self: flex-start; 
      margin-left: 20px;
  
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
  
      display: flex;
      align-items: center;
  
      color: #3D3D3D;
    }
  
    .password-input {
      /* 이메일 입력창 */
      width: 290px;
      height: 46px;
      margin-top: 1px; /* 상단 여백 */
  
      margin-left: 20px;
      margin-bottom: 400px;
  
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      font-family: 'Pretendard', sans-serif;
    }
  
    .header {
      /* 상단 헤더 */
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .back-button {
      /* 왼쪽 꺽쇠 */
      border: none;
      background-color: transparent;
      font-size: 24px;
      cursor: pointer;
      width: 22px;
      height: 22px;
  
      margin-top: 80px;
      align-self: flex-start; 
      margin-left: 10px;
    }
  
    .bottom-Button {
    width: 300px;
    height: 50px;
    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 20px auto;
    }
    
    .bottom-Button:disabled {
      background-color: #dadada;
      color: white;
    }

    .error-message {
      color: red;
      /* 빨간색 에러 메시지 */
      font-size: 0.5em;
    
      width: 320px;
      height: 14px;
      
    }

}

.Login1Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;

  .login-heading {
    width: 250px;
    height: 24px;
    margin-top: 50px; /* 상단 여백 */
    margin-bottom: 10px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .login-subtext {
    /* 안전한 인피 활동을 위해 학교 인증이 필요해요 */
    width: 300px;
    height: 18px;
    align-self: flex-start; 
    margin-left: 20px;

    margin-bottom: 50px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .email-input {
    /* 이메일 입력창 */
    width: 290px;
    height: 46px;
    margin-top: 1px; /* 상단 여백 */

    margin-left: 10px;
    margin-bottom: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    width: 22px;
    height: 22px;

    margin-top: 80px;
    align-self: flex-start; 
    margin-left: 30px;
  }

  .bottom-Button {
      /* 하단 버튼 */
      width: 300px;
      height: 50px;
    
      color: #F7F7F7;
      background: #FF7898;
      border-radius: 8px;
      border-color: rgb(255, 255, 255);
    
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      
      margin-left: 10px;
      margin-bottom: 40px; 
    
      display: flex;
      justify-content: center;
      align-items: center;
      }
  
  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }
}

.Login2Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;

  .login-heading {
    width: 250px;
    height: 24px;
    margin-top: 50px; /* 상단 여백 */
    margin-bottom: 10px;
    align-self: flex-start; 
    margin-left: 170px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .login-subtext {
    width: 300px;
    height: 18px; 

    margin-bottom: 50px;
    align-self: flex-start; 
    margin-left: 170px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
   
    width: 22px;
    height: 22px;

    margin-top: 80px;
    align-self: flex-start; 
    margin-left: 30px;
  }

  .code-inputs {
    /* 인증번호 입력 */
    display: flex;
    justify-content: center;
    gap: 10px;
    /* 입력 필드 사이의 간격 */
    margin-right: 3px;

  }

  .code-input {
    width: 35px;
    /* 네모 박스 너비 */
    height: 35px;
    /* 네모 박스 높이 */
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    /* 테두리 */
    border-radius: 5px;
    /* 모서리를 둥글게 */
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resend {
    /* 메일을 못받으셨나요? */
    width: 450px;
    height: 16px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin-left: 170px;
    margin-bottom: 345px;
    color: #8C8C8C;
  }

  .bottom-Button {
    /* 하단 버튼 */
    width: 300px;
    height: 50px;
  
    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    
    margin-left: 10px;
    margin-bottom: 40px; 
  
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }

}

.Login3Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;

  .login-heading {
    width: 250px;
    height: 24px;
    margin-top: 50px; /* 상단 여백 */
    margin-bottom: 10px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .login-subtext1 {
    /* 안전한 인피 활동을 위해 학교 인증이 필요해요 */
    width: 300px;
    height: 18px;

    margin-bottom: 50px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .login-subtext2 {
    /* 다시 한 번 입력해주세요 */
    width: 150px;
    height: 22px;

    align-self: flex-start; 
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 10px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    
    width: 22px;
    height: 22px;

    margin-top: 80px;
    align-self: flex-start; 
    margin-left: 30px;
  }

  /*  실행 단계 배경 CSS */
  .progress-bar {
    width: 240px;
    height: 10px;

    margin-top: 90px;
    align-self: flex-start; 
    margin-right: 50px;

    background: #D9D9D9;
    border-radius: 50px;
  }

  /* 실행 단계 CSS */
  .progress {
    height: 100%;
    background-color: #ff7096;
    border-radius: 10px;
  }

  .password-input {
    /* 비밀번호 입력창 */
    width: 290px;
    height: 46px;

    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .repassword-input {
    /* 비밀번호 확인창 */
    width: 290px;
    height: 46px;

    margin-left: 20px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .error-message{
    color: red;
    font-size: 0.5em;
    width: 300px;
    margin-left: 20px;
    height: 14px; /* 고정된 높이로 설정 */
    visibility: hidden; /* 기본적으로 보이지 않도록 설정 */

  }
  .error-message1 {
    color: red;
    font-size: 0.5em;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 200px;
    height: 10px; /* 고정된 높이로 설정 */
    visibility: hidden; /* 기본적으로 보이지 않도록 설정 */
    
  }
  
  .error-message.visible, .error-message1.visible {
    visibility: visible; /* 에러가 발생할 경우 보이게 */
  }
  

  .bottom-Button {
    /* 하단 버튼 */
    width: 300px;
    height: 50px;
  
    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    
    margin-left: 20px;
    margin-bottom: 100px; 
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }
}

.Login4Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;

  .login-heading {
    /* 학교 이메일을 입력해 주세요 */
    width: 250px;
    height: 24px;
    margin-top: 50px; /* 상단 여백 */
    margin-bottom: 10px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .login-subtext {
    /* 안전한 인피 활동을 위해 학교 인증이 필요해요 */
    width: 300px;
    height: 18px;

    margin-bottom: 80px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    
    width: 22px;
    height: 22px;

    margin-top: 80px;
    align-self: flex-start; 
    margin-left: 30px;
  }

  /*  실행 단계 배경 CSS */
  .progress-bar {
    width: 240px;
    height: 10px;

    margin-top: 90px;
    align-self: flex-start; 
    margin-right: 50px;

    background: #D9D9D9;
    border-radius: 50px;
  }

  /* 실행 단계 CSS */
  .progress {
    height: 100%;
    background-color: #ff7096;
    border-radius: 10px;
  }

  .login4-input {
    /* 닉네임 입력창 */
    width: 295px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .check-button {
    /* 중복 확인 버튼 */
    width: 300px;
    height: 50px;

    margin-left: 20px;
    background: #FF7898;
    border-radius: 8px;

    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .bottom-Button {
   /* 하단 버튼 */
   width: 300px;
   height: 50px;
 
   color: #F7F7F7;
   background: #FF7898;
   border-radius: 8px;
   border-color: rgb(255, 255, 255);
   
 
   font-family: 'Pretendard';
   font-style: normal;
   font-weight: 700;
   font-size: 18px; 
   
   margin-left: 20px;
   margin-top: 300px; 
 
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }


}

.Login5Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;

  .login-heading {
    width: 250px;
    height: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: flex-start; 
    margin-left: 40px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    width: 22px;
    height: 22px;

    margin-top: 80px;
    align-self: flex-start; 
    margin-left: 30px;
  }

  /*  실행 단계 배경 CSS */
  .progress-bar {
    width: 240px;
    height: 10px;

    margin-top: 90px;
    align-self: flex-start; 
    margin-right: 50px;

    background: #D9D9D9;
    border-radius: 50px;
  }
  /* 실행 단계 CSS */
  .progress {
    height: 100%;
    background-color: #ff7096;
    border-radius: 10px;
  }

  .gender-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 10px;
}

.rectangle, .rectangle1 {
  box-sizing: border-box;
  width: 140px;
  height: 140px; /* 높이 조정 */
  background: #FFFFFF;
  border: 2px solid #DADADA;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 이미지와 텍스트를 위쪽 정렬 */
  align-items: center;
  padding-top: 10px; /* 이미지와 텍스트 사이에 패딩 추가 */
}

.rectangle.selected {
  background-color: #EAF0FF;
}

.rectangle1.selected {
  background-color: #FFF0EF;
}

  .boy-image {
  width: 170px;
  height: 240px;
  margin-top: -63px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  }

  .girl-image {
  width: 80px;
  height: 110px;
  margin-top:-5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  }

.boyplace{
  margin-top: -78px;
  font-family: 'Pretendard';
  font-style: normal; 
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #3D3D3D;

}
 .girlplace {
  margin-top: 0px;
  font-family: 'Pretendard';
  font-style: normal; 
  font-weight: 600;
  font-size: 20px;
  margin-top: -5px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #3D3D3D;
  }

  .bottom-Button {
    /* 하단 버튼 */
    width: 300px;
    height: 50px;
  
    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    margin-left: 10px;
    margin-top: 380px; 
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }

}

.Login6Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;

  .login-heading {
    width: 250px;
    height: 24px;
    margin-top: 50px; /* 상단 여백 */
    margin-bottom: 5px;
    align-self: flex-start; 
    margin-left: 50px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .login-subtext {
    /* 안전한 인피 활동을 위해 학교 인증이 필요해요 */
    width: 300px;
    height: 18px;

    margin-bottom: 30px;
    align-self: flex-start; 
    margin-left: 50px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
    /* 왼쪽 꺽쇠 */
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    
    width: 22px;
    height: 22px;

    margin-top: 80px;
    align-self: flex-start; 
    margin-left: 30px;
  }

  .progress-bar {
    width: 240px;
    height: 10px;

    margin-top: 90px;
    align-self: flex-start; 
    margin-right: 50px;

    background: #D9D9D9;
    border-radius: 50px;
  }

  .progress {
    height: 100%;
    background-color: #ff7096;
    border-radius: 10px;
  }

  /* 단과대 선택 */
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .student-id {
    /* 학번 입력창 */
    width: 290px;
    height: 46px;

    margin-left: 20px;
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .select-container1 {
    /* 단과대 선택창 */
    width: 282px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 5px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  .select-container2 {
    /* 학과 선택창 */
    width: 282px;
    height: 50px;
    margin-left: 20px;
    height: 20px;
  }

  .select-department {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .bottom-Button {
    /* Rectangle 8 */
    width: 300px;
    height: 50px;
  
    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    
    margin-left: 10px;
    margin-top: 210px;
    margin-bottom: 40px; 
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }

}

.Login7Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF ;
  width: 375px;
  height: 100vh;


  .login-heading {
    width: 250px;
    height: 24px;
    margin-top: 50px; /* 상단 여백 */
    margin-bottom: 50px;
    align-self: flex-start; 
    margin-left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #3D3D3D;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
  }

  .header {
    /* 상단 헤더 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-button {
  /* 왼쪽 꺽쇠 */
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  
  width: 22px;
  height: 22px;

  margin-top: 80px;
  align-self: flex-start; 
  margin-left: 30px;
  }

  /*  실행 단계 배경 CSS */
  .progress-bar {
    width: 240px;
    height: 10px;

    margin-top: 90px;
    align-self: flex-start; 
    margin-right: 50px;

    background: #D9D9D9;
    border-radius: 50px;
  }

  /* 실행 단계 CSS */
  .progress {
    height: 100%;
    background-color: #ff7096;
    border-radius: 10px;
  }
  
  .year-month-day-container {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 380px;
  }

  .year-input {
    width: 80px;
    height: 46px;
  }

  .month-input {
    width: 80px;
    height: 46px;
  }

  .day-input {
    width: 80px;
    height: 46px;
  }

  .bottom-Button {
    width: 300px;
    height: 50px;
  
    color: #F7F7F7;
    background: #FF7898;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    
    margin-left: 20px;
    margin-bottom: 40px; 
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-Button:disabled {
    background-color: #dadada;
    color: white;
  }
}