.mypage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    width: 375px;
    height: 100vh;
}

.mypage {
    #title {

        width: auto;
        height: 18px;
        margin-top: 58px;
        margin-left: 16px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: flex-start;

        color: #3D3D3D;

    }

    #profile {
        margin-top: 14px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #profile_img {

        width: 74px;
        height: 74px;
        top: 90px;
        border-radius: 50px;

        background: #BABABA;

    }

    #nickname {

        width: auto;
        height: 16px;
        margin-top: 10px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #3D3D3D;


    }

    #etc {

        width: auto;
        height: 16px;
        margin-top: 4px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #777777;


    }

    #divider {
        margin-top: 18px;
        width: 375px;
        height: 6px;
        border-top: 6px;
        background-color: #F5F6F7;
        margin-bottom: 12px;
    }

    .tab-content {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 8px;

        padding-right: 16px;
    }

    #tabCont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: flex-start;
        width: 339px;
        padding-left: 16px;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #tabs_divider {
        display: flex;
        flex-direction: row;
    }

    .tab {

        width: auto;
        height: 18px;
        padding-left: 13px;
        padding-right: 13px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #777777;


    }

    .tabactive {
        width: auto;
        height: 18px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #3D3D3D;
        padding-bottom: 6px;
        padding-left: 13px;
        padding-right: 13px;
        border-bottom: 2px solid #FF7898;
    }

    #profile_info {
        /* 키워드 사이엔 쉼표(,)로 구분해주세요 */


        width: auto;
        height: 14px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;

        color: #777777;


    }

    #ment_cont {
        display: flex;
        flex-direction: column;
    }

    #ment_title {
        /* 나의 한 마디 */

        width: auto;
        height: 16px;
        margin-top: 22px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */
        display: flex;

        color: #3D3D3D;


    }

    #ment_input {
        width: 343px;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 6px;
        justify-content: flex-start;
    }



    #ment_btn {

        width: 42px;
        height: 46px;
        border: none;
        margin-left: 4px;
        background: #F5F5F5;
        border-radius: 10px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;


        color: #3D3D3D;



    }

    #others {
        margin-top: 31px;
        width: 321px;
        height: 127px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #F5F5F5;
        border-radius: 10px;
        padding: 11px;

    }

    .option {
        display: flex;
        /* text-align: center; */
        justify-content: start;

        width: auto;
        height: 16px;


        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */
        display: flex;
        align-items: center;

        color: #3D3D3D;


    }

    .mbti-test {
        position: relative;
        left: 79px;
        height: 22px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -1.5px;
        text-align: center;
        border: none;
        color: #FFFFFF;
        background: #FF7898;
        border-radius: 16px;
    }

    .mbti_input {
        width: 150px;
    }

    #others .empty {
        font-weight: 300;
        color: #999;
    }

    .option_info {

        width: auto;
        height: 18px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        display: flex;
        align-items: center;
        position: absolute;
        margin-left: 68px;
        color: #3D3D3D;


    }

    .top {
        height: 74px;
    }

    .edit-avatar {
        border: 1px solid #ccc;
        border-radius: 50%;
        position: relative;
        width: 20px;
        height: 20px;
        left: 50px;
        top: -25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F5F5F5;
    }

    #email {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 11px;
    }

    #email_info {
        margin-top: 4px;
        margin-left: 11px;
        width: auto;
        height: 18px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        display: flex;
        align-items: center;
        color: #3D3D3D;

    }

    #secession {


        width: auto;
        height: 30px;
        margin-top: 21px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        text-align: center;
        border: none;
        color: #777777;
        background-color: #FFFFFF;

    }

    input {
        background-color: #F5F5F5;
        border: none;
        width: auto;
        height: 18px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: #3D3D3D;

    }

    input:focus {
        outline: none;
    }

    .mTitle {
        display: flex;
        justify-content: space-between;

        font-family: 'Pretendard';
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;

        color: #3D3D3D;


    }

    #shortIntroduce {

        width: 278px;
        height: 46px;
        border: none;
        display: flex;
        background: #F5F5F5;
        border-radius: 10px;
        padding-left: 15px;
        margin: 0;
    }

    #submit {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 37px;
        height: 22px;


        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -1.5px;
        text-align: center;

        color: #FFFFFF;

        background: #3D3D3D;
        border-radius: 16px;

    }

}

/* Rectangle 5199 */


#navi-con {
    position: fixed;
    width: 375px;
    height: 53px;
    bottom: 0;
}

#navi {
    padding-top: 5px;
    background: #FFFFFF;
    /* navi */
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#play {

    width: 34px;
    height: 48px;
    background-image: url('../../asset/play.png');
}

#talk {

    width: 32px;
    height: 46px;
    background-image: url('../../asset/talk.png');


}

#my {
    width: 32px;
    height: 46px;
    background-image: url('../../asset/my.png');
}