.chatRoomInformation {
    height: 812px;
    width: 375px;

    margin: 0 auto;

    .margin-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 16px;
    }

    .title {
        width: 100%;
        height: 46px;
        margin-top: 50px;
        background: #ffffff;
        display: flex;
        text-align: center;

    }

    .title-name {
        /* 채팅방 이름 */

        padding-top: 15px;
        width: 90px;
        height: 18px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        display: flex;
        align-items: center;

        color: #3D3D3D;
    }


    .chat-room-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 10px
    }

    .chat-room-image {
        border-radius: 50%;
        margin-bottom: 10px;

        /* 채팅방 대표사진 */
        width: 60px;
        height: 60px;
        background-color: #3D3D3D;

    }

    .chat-room-name {


        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;

        color: #3D3D3D;
    }



    .chat-room-actions {
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .action-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 84px;
        height: 84px;
        background-color: #FAFAFA;
        border-radius: 20%;
        transition: all 0.3s ease;
    }

    .action-item img {
        width: 30px;
        height: 30px;
    }

    .action-item span {

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        color: #000000;
    }

    .chat-room-timer {

        margin: 0 auto;
        width: 272px;
        height: 40px;


        background: #FAFAFA;
        border-radius: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-room-timer span {



        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */


        color: #000000;
    }

    .participant-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .participant-list-text {

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #3D3D3D;
        margin-bottom: 10px;
    }

    .gender {

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #777777;
        margin-bottom: 10px;
    }


    .participant-group {
        max-height: 150px;
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
    }

    .participant-group ul {
        padding-left: 0px;
    }



    .bar {
        width: 343px;
        height: 6px;
        background-color: #FAFAFA;

    }


    .major {


        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;

        color: #777777;
    }

    .nickName {


        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;

        color: #3D3D3D;
    }

    .user-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .user-list img {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-left: 3px;
        margin-right: 5px;
    }

    .user-container {
        display: flex;
        flex-direction: column;
    }






    .action-item svg {
        fill: none;
        transition: all 0.3s ease;
    }

    .action-item span {
        color: #3D3D3D;
        transition: all 0.3s ease;
    }

    .action-item.active {
        background-color: #FF7898;
        /* 핑크 배경 */
    }

    .action-item.active svg {
        fill: #fff;
        /* 아이콘 하얀색 */
    }

    .action-item.active span {
        color: #fff;
        /* 글자 하얀색 */
    }

}