.chatRoom {

    height: 812px;
    width: 375px;
    margin: 0 auto;

    .margin-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 16px;
    }

    .title {
        width: 100%;
        height: 46px;
        margin-top: 50px;
        background: #ffffff;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    .title-name {
        /* 채팅방 이름 */

        padding-top: 15px;
        width: 90px;
        height: 18px;

        cursor: pointer;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        display: flex;
        align-items: center;

        color: #3D3D3D;
    }


    .bar {
        width: 343px;
        height: 6px;



        background-color: #FAFAFA;

    }


    .dialog-icon-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }

    /*원이 3개이상*/
    .profile-icon-0 {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        background-color: #A0A0A0;
        left: 37px;
        top: 0;
        z-index: 0;
    }

    .profile-icon-1 {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        background-color: #BBBBBB;
        left: 27px;
        top: 0;
        z-index: 1;
    }

    .profile-icon-2 {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        background-color: #F5F5F5;
        left: 17px;
        top: 0;
        z-index: 2;
    }

    /*원이 2개*/
    .profile-icon-0.member-length-2 {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        background-color: #A0A0A0;
        left: 10px;
        top: 0;
        z-index: 0;
    }

    .profile-icon-1.member-length-2 {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        background-color: #BBBBBB;
        left: 0px;
        top: 0;
        z-index: 1;
    }

    /*원이 1개*/
    .profile-icon-0.member-length-1 {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        position: relative;
        background-color: #A0A0A0;
        left: 0px;
        top: 0;
        z-index: 0;
    }


    .extra-profile-count {

        /* +2 */

        position: relative;
        width: 17px;
        height: 16px;
        left: 2px;
        top: 2px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        /* identical to box height, or 114% */
        display: flex;
        align-items: center;
        text-align: center;

        color: #606060;
        z-index: 3;

    }



    .text-bar {
        position: fixed;
        width: 343px;
        height: 40px;
        bottom: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container {
        /* Rectangle 3470037 */
        width: 299px;
        height: 40px;
        background: #F5F5F5;
        border-radius: 42px;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .send-container {
        width: 40px;
        height: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 50%;
        background: #F5F5F5;
    }

    .text {
        /* Text... */
        border: none;

        /* 기본 배경 제거 */
        background: none;

        /* 기본 그림자 제거 */
        box-shadow: none;

        /* 기본 외곽선(focus 시 생기는 테두리) 제거 */
        outline: none;

        /* 기본 여백 제거 */
        padding: 0;
        margin: 0;
        /* 텍스트 선택 시 색상 초기화 (선택 사항) */
        user-select: text;

        /* 모양을 네이티브 스타일로 초기화 (iOS, Android 등) */
        appearance: none;

        margin-left: 20px;
        height: 20px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        border-radius: 42px;
        color: #000000;
        z-index: 1000;
    }

    .chat-container {
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        max-height: 639px;
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */

    }

    .message-group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 5px;
    }

    .profile-icon {
        /* Ellipse 1457 */

        width: 30px;
        height: 30px;
        border-radius: 50%;
        /* 임시 */
        background: #eee;
    }

    .message-box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .message-box.noSent {
        padding-left: 5px;
    }

    .message {
        background-color: #f1f1f1;
        padding: 8px 15px;
        border-radius: 42px;
        max-width: 60%;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        display: flex;
        align-items: center;

        color: #3D3D3D;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

    }

    .message-group.sent {
        margin-top: 13px;
        transform: scaleX(-1);
    }


    .message.sent {
        background-color: #FF7898;
        transform: scaleX(-1);

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        display: flex;
        align-items: center;

        color: #FFFFFF;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .message-time.sent {
        transform: scaleX(-1);
    }

    .message-time {
        font-size: 10px;
        color: gray;
        margin-top: auto;
        position: relative;
        left: 5px;

    }

    .message-time-box {
        display: flex;
        flex-direction: row;
    }

    .chat-nickName {
        /* 참여자닉네임1 */


        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height, or 120% */
        display: flex;
        align-items: center;
        padding-left: 7px;
        color: #777777;
        margin-bottom: 5px;
    }

    .message-group.noSent {
        .no-see {
            width: 30px;
            height: 30px;
        }
    }

    .message-box.no-see-box.noSent {
        position: relative;
        top: -5px
    }


}